.heart-rate-page {
    display: flex;
    flex-direction: column;
}

.heart-rate-page-container{
    margin-top: 4.2rem;
    display: flex;
    flex-direction: column;
}

.heart-rate-heading {
    width: 100%;
    line-height: 2rem;
    background: #BF94D4;    
}

.heart-rate-heading h1 {
    color: #740A8F;
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.heart-rate-page-content {
    margin-top: 4rem;
    margin-left: 0; 
}

.heart-rate-page-left-section {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 3rem; 
    font-family: DM Serif Display;
}

.heart-rate-steps-textbox {
    /* display: flex;  */
    gap: 1rem; 
    border: 1px solid #ccc; 
    border-radius: 2rem; 
    width: 20rem;
    height: 26rem;
    background: #C0AAFE;
}

.heart-rate-step-image {
    width: 14rem;
    height: 8rem;
    margin: 1rem 3rem 1rem 3rem;
    border-radius: 1rem;
}

.heart-rate-page-left-section h2{
    color: #842EA2;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-left: 1rem;
}

.heart-rate-step-texts p {
    color: #670B92;
    font-size: 1rem;
    font-family: 'DM Serif Display', serif;
    margin: 0 1.5rem 1rem 2rem;
}

.heart-rate-second-image{
    width: 20rem;
    height: 10rem;
    border-radius: 1rem;
    margin-bottom: -2rem;
}

.heart-rate-page-right-section {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem 3rem 2rem;
    gap: 2rem;
}

.heart-rate-page-textbox {
    width: 20rem;
    height: 25rem;
    background: #D9C5F4;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heart-rate-tick-image {
    width: 6rem;
    height: 6rem;
}

.heart-rate-page-textbox h2 {
    color: #36174E;
    font-family: 'DM Serif Display', serif;
    font-size: 1rem;
}

.heart-rate-info, 
.heart-rate-level {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 1rem;
}

.heart-rate-info {
    color: #2BA1C7;
}

.heart-rate-level {
    color: #AB0E0E;
}

.heart-rate-test-now-btn {
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    background: #95C9F9;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

.heart-rate-back-btn{
    display: flex;
    align-items: center;
    justify-content:right;
    gap: 0; 
    color: #1B4E9B;
    font-family: 'DM Serif Display', serif;
    font-size: 1rem; 
    text-decoration: none;
    margin-right: 2rem;
}

.heart-rate-back-arrow{
    width: 1rem;
    height: 1rem;
}

/*-----------------------------tab-------------------------------*/

@media only screen and (min-width: 768px){

    .heart-rate-page-container{
        margin-top: 6.5rem;
    }
    
    .heart-rate-heading {
        line-height: 4rem;    
    }
    
    .heart-rate-heading h1 {
        font-size: 2.5rem;
        margin-left:3rem;
    }
    
    .heart-rate-page-content {
        flex-direction: column;
        margin-top: 4rem;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .heart-rate-page-left-section {
        gap: 3rem; 
        margin-left: 0;
        align-items: center;
    }
    
    .heart-rate-steps-textbox {
        gap:0; 
        border-radius: 1rem; 
        align-items: center;
        width: 30rem;
        height: 35rem;
    }
    
    .heart-rate-step-image {
        width: 20rem;
        height: 12rem;
        padding: 1rem;
        border-radius: 2rem;
        margin: 1rem 4rem 1rem 4rem;
    }
    
    .heart-rate-page-left-section h2{
        font-size: 1.3rem;
        margin-left: 2rem;
        width: 80%;
        font-weight: 400;
    }
    
    .heart-rate-step-texts p {
        font-size: 1.3rem;
        margin: 0 0 1rem 3rem;
    }
    
    .heart-rate-second-image{
        width: 30rem;
        height: 15rem;
    }
    
    .heart-rate-page-right-section {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .heart-rate-page-textbox {
        width: 30rem;
        height: 35rem;
        margin-top: 1rem;
    }
    
    .heart-rate-tick-image {
        width: 8rem;
        height: 8rem;
    }
    
    .heart-rate-page-textbox h2 {
        font-size: 1.5rem;
    }
    
    .heart-rate-info, 
    .heart-rate-level {
        font-size: 1.5rem;
    }

    .heart-rate-test-now-btn {
        width: 12rem;
        height: 4rem;
        font-size: 1.5rem;
    }
    
    .heart-rate-back-btn{
        gap: 0; 
        font-size: 1.5rem;
        margin-left: 26rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .heart-rate-back-arrow{
        width: 2rem;
        height: 2rem;
    }
}

/*-----------------------desktop---------------------*/

@media only screen and (min-width: 1200px){
    .heart-rate-page-container{
        margin-top: 8.5rem;
        margin-bottom: 3rem;
    }
    
    .heart-rate-heading {
        line-height: 4rem;    
    }
    
    .heart-rate-heading h1 {
        font-size: 2.5rem;
        margin-left:5rem;
    }
    
    .heart-rate-page-content {
        flex-direction: row;
        margin-top: 4rem;
    }
    
    .heart-rate-page-left-section {
        gap: 3rem; 
        margin-right: 3rem;
    }
    
    .heart-rate-steps-textbox {
        display: flex; 
        gap:0; 
        border-radius: 2rem; 
        align-items: center;
        width: 36rem;
        height: 26rem;
    }
    
    .heart-rate-step-image {
        width: 10rem;
        height: 16rem;
        border-radius: 1.5rem;
        margin: 0 1rem 0 1rem;
    }
    
    .heart-rate-page-left-section h2{
        font-size: 1.5rem;
    }
    
    .heart-rate-step-texts p {
        font-size: 1.5rem;
        margin: 1rem 0 1rem 0;
    }
    
    .heart-rate-second-image{
        width: 36rem;
        height: 16rem;
    }
    
    .heart-rate-page-right-section {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .heart-rate-page-textbox {
        width: 28rem;
        height: 38rem;
        margin-top: 2rem;
    }
    
    .heart-rate-tick-image {
        width: 8rem;
        height: 8rem;
    }
    
    .heart-rate-page-textbox h2 {
        font-size: 1.8rem;
    }
    
    .heart-rate-info, 
    .heart-rate-level {
        font-size: 1.5rem;
    }

    .heart-rate-test-now-btn {
        width: 12rem;
        height: 4rem;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    
    .heart-rate-back-btn{
        gap: 0; 
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .heart-rate-back-arrow{
        width: 2rem;
        height: 2rem;
    }   
}